@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-bebas-neue: "Bebas Neue", sans-serif;
	--font-barlow: "Barlow", sans-serif;
	--font-atkinson: "Atkinson", sans-serif;
}

body {
	@apply bg-neutral-950 font-barlow;
}

/* 
Rojo Sangre (Acento): (Para bordes, botones o enlaces al pasar el mouse).
	red-950

Negro/Carbón (Fondos sólidos)
	neutral-950

Gris Hueso (Texto principal)
	neutral-200

Gris Ceniza (Texto secundario/metadatos)
	neutral-400
*/
