@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woof');
	font-weight: 400;
	font-size: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woof');
	font-weight: 700;
	font-size: normal;
	font-display: swap;
}

@layer base {
	body {
		@apply bg-slate-950 text-gray-300 font-sans antialiased;
	}
}
