---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<body class="relative min-h-screen bg-cover bg-center bg-fixed bg-[url(../assets/lockdown_cover_BKG.png)]">
    <div class="absolute inset-0 bg-black/50"></div>

    <div class="relative z-10 min-h-screen flex flex-col">
		<Header />

		<slot />

		<Footer />
    </div>
</body>
